<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
    </nav>

    <p>le prix estimé est: {{classe}}</p>

    <p>New Prediction here:</p>
    <form action="/predict" method="post">
        <label for="type_de_bien">Type de bien:</label>
        <input type="text" id="type_de_bien" name="type_de_bien"/>
        <label for="annee">annee:</label>
        <input type="number" id="annee" name="annee"/>
        <label for="nb_de_pieces">nb_de_pieces:</label>
        <input type="number" id="nb_de_pieces" name="nb_de_pieces"/>
        <label for="surface">surface:</label>
        <input type="number" id="surface" name="surface"/>
        <label for="ville">ville:</label>
        <input type="text" id="ville" name="ville"/>
        <button>Submit</button>
    </form>
    
</body>
</html>